:root {

    --clr-neutral-200: hsl(0, 0%, 97%);
    --clr-neutral-400: hsl(0, 0%, 41%);
    --clr-neutral-800: hsl(0, 0%, 8%);

    --ff-main: "Epilogue", sans-serif;

    --fs-400: .9rem;
    /* --fs-700: 1.755rem; */
    --fs-700: clamp(1.5rem, 7vw, 2.9rem);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    /* Set core body defaults */
    min-height: 100vh;
    line-height: 1.5;

    padding-block: 1.5rem;

    font-family: var(--ff-main);
    font-size: var(--fs-400);
    font-weight: 500;
    color: var(--clr-neutral-400);
    background-color: var(--clr-neutral-200);

    overflow-x: hidden;
}

h1 {
    line-height: 1.1;
    color: var(--clr-neutral-800);
    font-size: var(--fs-700);
    font-weight: 800;
}

/* remove list default styles */
ul {
    list-style: none;
}

/* remove link default styles */
a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

/* remove button default styles */
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

/* Make images easier to work with */
img,
picture {    
  max-width: 95%;
  display: block;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: min(10vw, 5.5rem);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col1 col2";
    gap: 4rem;
    align-items: center;

    width: min(85%, 800px);
    margin-inline: auto;

    margin-top: 3rem;
}

.grid-col-1 {
    grid-area: col2;
}

.grid-col-2 {
    grid-area: 1;
}

/* make the humberger button invisible only on large screen sizes */
.humberger-btn {
    display: none;
}

.container {
    width: 90%;
    max-width: 1050px;
    margin-inline: auto;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    position: relative;
}

.registration {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* create the arrow button of the dropdown */
.dropdown {
    cursor: pointer;
}

.dropdown::after {
    content: var(--content, url(images/icon-arrow-down.svg));
    display: inline-block;
    width: .5rem;
    aspect-ratio: 1;
    margin-left: .3rem;
}

.register {
    border: solid 1px;
    border-radius: .5rem;

    padding: .3rem .8rem;
}

/* style the features drop down menu */
.dropdown-menu-features {
    background-color: var(--clr-neutral-200);

    border: solid 1px;
    border-radius: .6rem;

    position: absolute;
    top: 2.5rem;
    left: -3.7rem;

    padding: 1rem;

    display: none;
}

.dropdown-menu-features li {
    display: flex;
    gap: .9rem;
}

.dropdown-menu-features > li:not(:last-child) {
    margin-bottom: .5rem;
}


/* style the company drop down menu */
.dropdown-menu-company {
    background-color: var(--clr-neutral-200);

    border: solid 1px;
    border-radius: .6rem;

    position: absolute;
    top: 2.5rem;

    padding: 1rem;

    display: none;
}

.dropdown-menu-company > li:not(:last-child) {
    margin-bottom: .5rem;
}

.description {
    font-size: clamp(.95rem, 3vw, 1rem);

    margin-block: clamp(2rem, 4.5vh, 5rem);
}

/* style the learn more button */
.learn-more {
    /* margin-top: 1rem;
    margin-bottom: 2rem; */
    padding: .6rem 1.3rem;
    width: fit-content;

    font-weight: 600;

    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-800);

    border-radius: .6rem;
}

.brands {
    display: flex;
    justify-content: space-around;

    margin-top: clamp(2rem, 6vh, 5rem);
}

.brands img {
    width: 4rem;
}

@media (max-width: 700px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    main {
        display: block;
        text-align: center;
    }

    h1 {
        margin-top: 2rem;
    }

    /* set the navbar to be invisible on small sceen size */
    .navigation-bar {
        position: fixed;
        inset: 0 0 0 30%;

        background-color: var(--clr-neutral-200);

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        padding-top: min(10vh, 5rem);
        padding-inline: 2.5rem;

        z-index: 1000;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation-bar[aria-expanded = 'true'] {
        transform: translateX(0%);
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .registration {
        flex-direction: column;
        gap: .5rem;
        width: 100%;
    }

    .register {
        width: 100%;
        text-align: center;
    }

    /* create the humberger btn on small screen size*/
    .humberger-btn {
        display: block;
        width: 2rem;
        aspect-ratio: 1;

        background-image: url(images/icon-menu.svg);
        background-repeat: no-repeat;

        margin-top: .3rem;

        z-index: 9999;
    }

    .humberger-btn[data-menu = 'open'] {
        background-image: url(images/icon-close-menu.svg);
    }

    .dropdown::after {
        margin-left: 1rem;
    }

    /*features drop down menu */
    .dropdown-menu-features {
        position: static;

        border: none;

        margin-left: 1rem;
    }

    /*company drop down menu */
    .dropdown-menu-company {
        position: static;

        border: none;

        margin-left: 1rem;
    }

    .learn-more {
        margin-inline: auto;
    }
}

.overlay {
        position: fixed;
        inset: 0 0 0 0;
        background-color: rgba(0, 0, 0, 0.4);

        display: none;
    }